extends embed.pug

block iframe
  iframe(width="715" height="515" src="https://www.wolframcloud.com/objects/demonstrations/ForcesOnAPartiallySubmergedGate?_view=EMBED" frameborder="0" stylel="border:0;" scrolling="no")
